<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="preved" type="System.Configuration.NameValueSectionHandler"/>
      <section name="whsd" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <preved>
    <!-- path, where Preved application is installed -->
    <add key="installPath" value="C:\docs\дистрибутив для ЗСД\106512_4\"/>
    <!-- WHSD options -->
    <add key="oldFilesPath" value="oldDatFiles"/>
  </preved>
  <whsd>
    <add key="concession" value="78" />
    <add key="network" value="1" />
    <add key="plaza" value="6" />
  </whsd>
  
  <connectionStrings>
    <add name="dbConnect" providerName="System.Data.OracleClient" connectionString="Data source=192.168.113.94:1521/l2db;Persist Security Info=True;User ID=plaza;Password=plaza;Unicode=True" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<add name="fileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="whsdkassa.log" traceOutputOptions="DateTime" />-->
        <remove name="Default" />
        <add name="rollingfile"
          type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
          initializeData="logs\{ApplicationName}-{DateTime:yyyy-MM-dd}.log"
          convertWriteToEvent="true"
          template="{DateTime:yyyy-MM-dd HH:mm:ss.fff} {Message}{Data}"
  />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>